.wrapper {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}
 
/* ============================================================================== */
/* TRICK CSS ĐỂ IN PHIẾU PDF TỪ MODAL KHÔNG BỊ TRẮNG TRANG */
/* ============================================================================== */
.printArea {
    display: none;
}
 